header {
    position: relative;
    padding-top: 1em;
    background: #3B007A;
}

header, header * {
    color: #ffffff !important;
}

header h1, header dl {
    display: inline-block !important;
    vertical-align: text-bottom;
    margin-bottom: 10px !important;
}

header h1 {
    min-width: 50%;
}

header dl {
    position: absolute;
    right: 0;
    bottom: 0;
}

header dl dd {
    margin-left: 2em !important;
}

header #logo {
    height: 1em;
    vertical-align: text-bottom;
    margin-bottom: 5px;
}

article {
    margin: 3em 0em;
    padding-bottom: 3em;
    border-bottom: 1px solid #ccc;
}

article h1 {
    margin-bottom: .125em;
    line-height: 1.2;
    font-size: xx-large;
}

.metabox {
    margin-top: 1em;
    color: #aaa;
    font-size: .8em;
}

.pages {
    margin-bottom: 2em
}

.pages .next {
    float: right;
}

.sidebar.columns {
    background: #eee;
    padding-top: 3em !important;
    padding-bottom: 3em !important;
}

.sidebar.columns > * {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
}

.link-list{
    list-style-type: none;
    margin: 0px;
}

:not(header) a {
    color: #3B007A;
}

:not(header) a:hover {
    color: #3B007A;
    text-decoration: underline;
}
