{{define "base"}}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Planet hackNY</title>

        <link rel="stylesheet" href="/static/foundation/css/foundation.min.css" type="text/css" />
        <link rel="stylesheet" href="/static/css/main.css" type="text/css" />
        <script src="/static/js/jquery-1.9.1.min.js"></script>
        <script src="/static/js/app.js"></script>
        <script src="/static/js/moment.min.js"></script>
        <script src="http://static.tumblr.com/fpifyru/VCxlv9xwi/writecapture.js"></script>
        <script src="http://static.tumblr.com/fpifyru/AKFlv9zdu/embedgist.js"></script>
    </head>
    <body>
        <header> 
            <div class="row">
                <div class="large-12">
                    <h1><a href="/">Planet <img id="logo" src="/static/img/logo.png"></a></h1>
                    <dl class="sub-nav">
                        <dd><a href="/">Home</a></dd>
                        <dd><a href="/about">About</a></dd>
                        <dd><a href="http://hackny.org/">hackNY</a></dd>
                    </dl>
                </div>
            </div>
        </header>

        <div class="container">
            <div class="row">
                <div class="large-8 columns">
                    {{template "body" .}}
                    <nav class="pages">
                        <script type="text/javascript">
                            // Pagination
                            function getUrlVars() {
                                var vars = {};
                                var parts = window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi, function(m,key,value) {
                                        vars[key] = value;
                                        });
                                return vars;
                            }

                            var page = getUrlVars()['page'];

                            if (!page || page < 1) {
                                page = 1;
                            }

                            if (page > 1) {
                                document.write('<a href="?page=' + (parseInt(page) - 1) + '" class="prev">&laquo; Previous Page</a>')
                            }


                            // TODO: get the max page number and limit going forward
                            document.write('&nbsp;<a href="?page=' + (parseInt(page) + 1) + '" class="next">Next Page &raquo;</a>')
                        </script>
                    </nav>
                </div>
                <div class="large-4 sidebar columns">
                    <h3> Contributors </h3>
                    <ul class="link-list">
                        {{range .Authors}}
                            <li><a href="{{.Uri}}">{{.Name}}</a></li>
                        {{end}}
                    </ul>
                </div>
            </div>
        </div>
    </body>
</html>
{{end}}
