{{define "base"}}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Planet hackNY</title>

        <link rel="stylesheet" href="/static/foundation/css/foundation.min.css" type="text/css" />
        <link rel="stylesheet" href="/static/css/main.css" type="text/css" />
        <script src="/static/js/jquery-1.9.1.min.js"></script>
        <script src="/static/js/underscore.js"></script>
        <script src="/static/js/backbone.js"></script>
        <script src="/static/js/app.js"></script>
        <script src="/static/js/moment.min.js"></script>
        <script src="http://static.tumblr.com/fpifyru/VCxlv9xwi/writecapture.js"></script>
        <script src="http://static.tumblr.com/fpifyru/AKFlv9zdu/embedgist.js"></script>
    </head>
    <body>
        <header> 
            <div class="row">
                <div class="large-12">
                    <h1>Planet hackNY</h1>
                    <dl class="sub-nav">
                        <dd><a href="/feeds/posts">Home</a></dd>
                        <dd><a href="/about">About</a></dd>
                        <dd><a href="http://hackny.org/">hackNY</a></dd>
                    </dl>
                </div>
            </div>
        </header>
        <div class="container">
            <div class="row">
                <div class="large-8 large-offset-2 columns">
                    {{template "body" .}}
                </div>
            </div>
        </div>
    </body>
</html>
{{end}}
