{{define "body"}}
    {{range .Posts }}
        <article>
            <h1>{{.Title}}</h1>
            <h6>by <a href="{{.Author.Uri}}">{{.Author.Name}}</a></h6>
            <div class="content">
                {{RenderHtml .Description}}
            </div>
            <p class="metabox">
                <script type="text/javascript">
                    var postDate = moment("{{.PubDateParsed.String}}", "YYYY-MM-DD HH:mm:ss Z").format("ddd, MMM D, YYYY");
                    var postTime = moment("{{.PubDateParsed.String}}", "YYYY-MM-DD HH:mm:ss Z").format("h:mm A");
                    document.write("posted on " + postDate + " at " + postTime);
                </script>
                <br/>
                Categories:
                {{range .Categories}}
                    {{.Text}}
                {{end}}
            </p>
        </article>
    {{end}}
{{end}}
