{{define "body"}}
    This is just a placeholder for the posts
    {{range . }}
        <article>
            <h1>{{.Title}}</h1>
            <h6>by {{.Author.Name}}</h6>
            <div class="content">
                {{RenderHtml .Description}}
            </div>
            <p class="metabox">
                {{.PubDate}} <br/>
                Categories:
                {{range .Categories}}
                    {{.Text}}
                {{end}}
            </p>
        </article>
    {{end}}
{{end}}
