{{define "body"}}
<p>
   This is just a placeholder for the posts
{{range . }}
	<div class="post">
		 Title is <div class="title">{{.Title}}</div>
		Author is <div class="author">{{.Author.Name}}</div>
		<div class="pub-date">{{.PubDate}}</div>
		<div class="content">
            <article>
                {{RenderHtml .Description}}
            </article>
        </div>
    Categories are 
    {{range .Categories}}
		{{.Text}}
		{{end}}
	</div>
{{end}}


<p>
{{end}}

